*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;  
    margin: 0.5rem;
    line-height: 6rem;
    text-align: center;
}

nav{
    border: 2px solid black;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    background-color: yellow;
    max-width: 600px;
}

h2{ 
    padding: 1rem;
}

p{
    text-align: left;
}

ul li{
    border-top: 3px solid yellowgreen;
    list-style-type: none;
}

ul li:last-child{
    border-radius: 0 0 2rem 2rem;
}

ul li:hover{
    background-color: rgb(229, 229, 18);
}

a{
    text-decoration: none;
    color:blue;
    display:block;
}

.Bottom{
    display:inline;
    padding:0;
}

a:visited{
    color:blueviolet;
}

a:hover{
    color: rgb(2, 146, 146);
}

a:active{
    color:red;
}
